extends layout 

block content 
  h1.admin_con_title= title

  .admin_tool_wrap.clearfix 
    a(href="/admin/"+url+"/list") 리스트
    if (url==='notice' || url==='event' || url==='faq')
      a(href=`/admin/${url}/create`) 
       i.fa.fa-pencil(aria-hidden='true')
       | 글 작성
      a(href=`/admin/${url}/${blog._id}/update`) 
       i.fa.fa-pencil-square-o(aria-hidden='true')
       | 수정
      form(action=`/admin/${url}/${blog._id}/delete`, method="POST", onsubmit="return confirm('y/n')") 
        button(type="submit") 
          i.fa.fa-trash-o(aria-hidden='true')  삭제

  .admin_blog_wrap
    .admin_blog_detail_wrap
      h3 제목 : #{blog.title}
      h4 #{blog.reg_date.toLocaleString()}
      p !{blog.content}
  

  if (url==='qna')
    //- Create comment 
    button.create_comment_btn(onclick=`createItem('${blog._id}', null, null, false)`) 댓글 작성하기
        //- Form to create or update the comment
    form.create_comment_form.admin_comment_form(action="/admin/qna/comment/create", method="POST") 
      div.form-group
        label.sound_only(for="") redirect url 
        input(type="hidden", name="url", value=blog._id) 
      div.form-group
        label.sound_only(for="") parent
        input(type="hidden", id="parent" name="parent", value="")
      div.form-group
        label.sound_only(for="") coc 
        input(type="hidden", id="coc", name="coc", value="") 
      div.form-group
        label.sound_only(for="") id
        input(type="hidden", id="id" name="id", value="")
      div.form-group
        label.sound_only(for="") bites 
        input(type="hidden", id="bites" name="bites", value="") 
      div.form-group.comment_form_group
        label(for="") 
        textarea.frm_input.full_input(name="content", required)
      button.comment_submit(type="submit") 완료
    //- All comments
    h3.response_detail_title 댓글
    each blog_comment in blog_comments 
      //- Comments
      div(id="item-" + blog_comment._id)
        div.comment_wrap
          if (blog_comment.user)
            //- p.blog_comment_title #[i #{blog_comment.user.name}]
            p.blog_comment_title 
              i 관리자
          p.blog_commnet_content(id="content-" + blog_comment._id) #{blog_comment.content} 

          .commnet_tools_box.clearfix
            if (user_global && blog_comment.user._id.toString()===user_global.id.toString())
              button(onclick=`createItem('${blog_comment.parent}', '${blog_comment._id}')`) 수정
              button(onclick=`deleteItem('${blog_comment._id}')`) 삭제
            //- if (user_global)
            //-   button(onclick=`createItem('${blog_comment._id}', null, null, true)`) add
            //- More comments
            div(style="margin-left:25px")
              each comment in blog_comment.comment
                div(id="item-" + comment._id)
                  if (comment.bites)
                    span @#{comment.bites.username} 
                  span(id="content-" + comment._id) #{comment.content} 
                  if (blog_comment.user)
                    p #[i - #{comment.user.username}]
                  if (user_global && comment.user._id.toString()===user_global.id.toString())
                    button(onclick=`createItem('${comment.parent}', '${comment._id}')`) update
                    button(onclick=`deleteItem('${comment._id}')`) delete
                  //- if (user_global)
                  //-   button(onclick=`createItem('${blog_comment._id}', null, '${comment.user._id}', true)`) add



  script.
    var deleteUrl = '/admin/qna/comment/delete'
  script(src="/scripts/comment.js")


  block scripts
    script(src='/javascript/create_comment.js')



    

    
