extends layout 

block content 
  //- h1= title

  //- pre= estimate_request 
  //- hr

  //- p

  //- each estimate_response in estimate_responses 
  //-   a(href="/admin/estimate/response/" + estimate_response._id) #{estimate_response.user.username}
  //-   |  #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}

  

  h1.admin_con_title= title

  .estimate_request_detail_box 
      p.estimate_request_detail_2st_txt #{estimate_request.platform[0].name}
      p.estimate_request_detail_3st_txt 
        span 견적 요청일자 :
        |  #{estimate_request.reg_date.getFullYear()}-#{estimate_request.reg_date.getMonth() +1}-#{estimate_request.reg_date.getDate()}
      .estimate_request_detail_stat_wrap
        .estimate_request_detail_stat 
          h3 월간 작업(포스팅) 횟수
          p #{estimate_request.how_many[0].name}
        .estimate_request_detail_stat 
          h3 광고 업종(상품)
          p 
            each estimate_request_business in estimate_request.business
              span.estimate_request_checked= estimate_request_business.name
        .estimate_request_detail_stat 
          h3 광고 목적
          p 
            each estimate_request_goal in estimate_request.goal
              span.estimate_request_checked= estimate_request_goal.name
        .estimate_request_detail_stat 
          h3 광고 시작 날짜
          p #{estimate_request.start_day[0].name}
        .estimate_request_detail_stat 
          h3 광고 집행 기간
          p #{estimate_request.how_long[0].name}
        .estimate_request_detail_stat 
          h3 예상 금액
          p #{estimate_request.cost[0].name}
        .estimate_request_detail_stat 
          h3 계신 지역
          p 
            each estimate_request_city in estimate_request.city
              span.estimate_request_checked= estimate_request_city.name
        .estimate_request_detail_stat 
          h3 피드백 서비스
          p 
            each estimate_request_feedback in estimate_request.feedback
              span.estimate_request_checked= estimate_request_feedback.name




  //- 견적서목록
  h3.estimate_responses_title 제출된 견적서 목록
  each estimate_response in estimate_responses 
    ul.estimate_responses_wrap
      li
        a(href="/admin/estimate/response/" + estimate_response._id)
          p.estimate_responses_username #{estimate_response.user.username}
          p.estimate_responses_price 견적금 : #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}원



 
  
