extends layout 

block content 
  h1.admin_detail_con_title= title 

  hr

  pre= user 

  hr
  
  form(action="/admin/user/detail/auth", method="POST", onsubmit="return confirm('y/n')") 
    div.form-group
      label(for="") user
      input(type="text", name="user", value=user._id)
    div.form-group
      label(for="") authorization
      select(name="auth") 
        option(value="true", selected=(user.authorization===true ? true : false)) authorized
        option(value="false", selected=(user.authorization===false ? true : false)) unauthorized
    p
      button(type="submit") confirm 

  hr

  if (user.account==="business")
    if (user.service===false)
      form(action="/admin/user/detail/service", method="POST", onsubmit="return confirm('y/n')") 
        div.form-group
          label(for="") user 
          input(type="text", name="user", value=user._id)
        p
          button(type="submit") accept
    else 
      p service on
      p #{user.start_date}

    hr

    h1.admin_detail_con_title 리뷰목록
    ul.admin_user_detail_review_list 
      each review in user.reviews
        li 
          p 남긴말 : #{review.content}
          p 별점 : #{review.rating}
          p 날짜 : #{review.reg_date}
