extends layout 

block content 
  h1= title

  //- ul
  //-   each user_business in user_businesses
  //-     li
  //-       a(href="/admin/user/business/" + user_business._id)= user_business.user_id

  hr

  ul
    each user_business in user_businesses
      li= user_business.user_id
        div= user_business.city[0].name
        each platform in user_business.platform   
          span #{platform.name} / 
      br
          
  hr

  pre= user_businesses