extends layout 

block content 
  h1.admin_detail_con_title= title 

  pre= user 
  
  if (user.auth===0)
    form(action="", method="POST", onsubmit="return confirm('승인하시겠습니까?');") 
      button.submit_btn(type="submit") 승인하기

  if (user.account==="business")
    h1.admin_detail_con_title 리뷰목록
    ul.admin_user_detail_review_list 
      each review in user.reviews
        li 
          p 남긴말 : #{review.content}
          p 별점 : #{review.rating}
          p 날짜 : #{review.reg_date.getFullYear()}.#{review.reg_date.getMonth() +1}. #{review.reg_date.getDate()}





            
  


  //- pre= user.file

  //- ul
  //-   each review in user.reviews 
  //-     li= review

  //- if (user.auth===0)
  //-   form(action="", method="POST") 
  //-     button(type="submit") confirm

  //- p   
  //-   a(href=`/admin/user/${user.account}/list`) list 