extends layout 

block content 
  //- h1.admin_detail_con_title= title 

  //- hr

  //- pre= user 

  //- h1 auth status
  //- form(action="", method="POST", onsubmit="return confirm('y/n')") 
  //-   select(name="auth") 
  //-     option(value="true", selected=(user.auth===true ? true : false)) accepted
  //-     option(value="false", selected=(user.auth===false ? true : false)) denied
  //-   button(type="submit") confirm 

  //- hr

  //- if (user.account==="business")
  //-   h1.admin_detail_con_title 리뷰목록
  //-   ul.admin_user_detail_review_list 
  //-     each review in user.reviews
  //-       li 
  //-         p 남긴말 : #{review.content}
  //-         p 별점 : #{review.rating}
  //-         p 날짜 : #{review.reg_date}
  h1.admin_detail_con_title= title 
  //- pre= user
  table.user_detail_stat 
    tr.user_detail_id
      th 아이디
      td #{user.username}
    tr.user_detail_name
      th 
        if (user.account==="business")
          span 회사명
        else 
          span 이름
      td #{user.name}
    tr.user_detail_tel
      th 연락처
      td #{user.phone}
    tr.user_detail_mail
      th 이메일
      td #{user.email}
    tr.user_detail_place
      th 지역
      td 
        if (user.city)
          span #{user.city[0].name}
    if (user.account==="business")
      tr.user_detail_auth
        th 승인상태
        td 
          if (user.service===false)
            form(action="/admin/user/detail/service", method="POST", onsubmit="return confirm('승인하시겠습니까?')") 
              input(type="hidden", name="user", value=user._id)
              button.user_detail_auth_btn(type="submit") 승인하기
          else
            p 승인 
      tr.user_service_reg_date
        th 승인요청
        td #{user.reg_date.getFullYear()}.#{user.reg_date.getMonth() +1}.#{user.reg_date.getDate()}. #{user.reg_date.getHours()}:#{user.reg_date.getMinutes()}
      tr.user_service_start_date
        th 서비스 시작
        td
          if (user.start_date) 
            span #{user.start_date.getFullYear()}.#{user.start_date.getMonth() +1}.#{user.start_date.getDate()}. #{user.start_date.getHours()}:#{user.start_date.getMinutes()}
      tr.user_detail_platform
        th 광고방법
        td 
          each user_platform in user.platform
            span  #{user_platform.name}
      tr.user_detail_company_info 
        th 회사소개
        td #{user.about}
      tr.user_detail_review_count
        th 이용후기
        td #{user.review}개
      tr.user_detail_contract_count 
        th 계약수
        td #{user.contract}개
      tr.user_detail_level
        th 회원 등급
        td 
          if (user.level == '1')
            span 신규
          if (user.level == '2')
            span 동메달
          if (user.level == '3')
            span 은메달
          if (user.level == '4')
    else 
      tr.user_detail_birth 
        th 생년월일
        td #{user.date_of_birth}
      tr.user_detail_gender 
        th 성별
        td 
          if (user.gender == 'male')
            span 남
          else 
            span 여

    tr.user_detail_auth_b 
      th 사용/이용정지
      td 
        form(action="/admin/user/detail/auth", method="POST", onsubmit="return confirm('제출하시겠습니까?')") 
          input(type="hidden", name="user", value=user._id)
          select.frm_input(name="auth") 
            option(value="true", selected=(user.authorization===true ? true : false)) 사용
            option(value="false", selected=(user.authorization===false ? true : false)) 이용정지
          button.user_detail_auth_btn(type="submit") 확인
  //- 서비스 - 서비스 승인
  //- if (user.account==="business")
  //-   table.user_detail_stat 
  //-     tr.user_detail_id
  //-       th 아이디
  //-       td #{user.username}
  //-     tr.user_detail_name
  //-       th 회사명
  //-       td #{user.name}
  //-     tr.user_detail_platform
  //-       th 광고방법
  //-       td 
  //-         each user_platform in user.platform
  //-           span  #{user_platform.name}
  //-     tr.user_detail_tel
  //-       th 연락처
  //-       td #{user.phone}
  //-     tr.user_detail_mail
  //-       th 이메일
  //-       td #{user.email}
  //-     tr.user_detail_place
  //-       th 지역
  //-       td #{user.city[0].name}
  //-     tr.user_detail_company_info 
  //-       th 회사소개
  //-       td #{user.about}
  //-     tr.user_detail_auth
  //-       th 승인상태
  //-       td 
  //-         if(user.auth == '1')
  //-           span 사용
  //-         else 
  //-           span 정지
  //-     tr.user_detail_auth_b 
  //-       th 회원 승인
  //-       td 
  //-         form(action="", method="POST", onsubmit="return confirm('y/n')") 
  //-           select.frm_input(name="auth") 
  //-             option(value="true", selected=(user.auth===true ? true : false)) 승인
  //-             option(value="false", selected=(user.auth===false ? true : false)) 미승인
  //-           button.user_detail_auth_btn(type="submit") 확인

        
  //- else 
  //-   table.user_detail_stat 
  //-     tr.user_detail_id
  //-       th 아이디
  //-       td #{user.username}
  //-     tr.user_detail_name
  //-       th 이름
  //-       td #{user.name}
  //-     tr.user_detail_tel
  //-       th 연락처
  //-       td #{user.phone}
  //-     tr.user_detail_mail
  //-       th 이메일
  //-       td #{user.email}
  //-     tr.user_detail_place
  //-       th 지역
  //-       td #{user.city[0].name}
  //-     tr.user_detail_birth 
  //-       th 생년월일
  //-       td #{user.date_of_birth.getFullYear()}.#{user.date_of_birth.getMonth() +1}.#{user.date_of_birth.getDate()}
  //-     tr.user_detail_auth
  //-       th 승인상태
  //-       td 
  //-         if(user.auth == '1')
  //-           span 사용
  //-         else 
  //-           span 정지
  //-     tr.user_detail_auth_b 
  //-       th 회원 승인
  //-       td 
  //-         form(action="", method="POST", onsubmit="return confirm('y/n')") 
  //-           select.frm_input(name="auth") 
  //-             option(value="true", selected=(user.auth===true ? true : false)) 승인
  //-             option(value="false", selected=(user.auth===false ? true : false)) 미승인
  //-           button.user_detail_auth_btn(type="submit") 확인






  if (user.account==="business")
    h1.admin_detail_con_title 리뷰목록
    //- ul.admin_user_detail_review_list
    //-   li 
    //-     p 남긴말 : 아
    //-     p 별점 : ★ 4
    //-     p 날짜 : 2021.10.12 11:30
    ul.admin_user_detail_review_list 
      each review in user.reviews
        li 
          p 남긴말 : #{review.content}
          p 별점 : ★ #{review.rating}
          p 날짜 : #{review.reg_date.getFullYear()}.#{review.reg_date.getMonth() +1}.#{review.reg_date.getDate()}. #{review.reg_date.getHours()}:#{review.reg_date.getMinutes()}




  //- form(action="/admin/user/detail/service", method="POST") 
  //-   input(type="hidden", name="user", value=user._id)
  //-   button(type="submit")