extends layout 

block content 
  h1= title

  ul#messages
    if (chat_contents)
      each chat_content in chat_contents 
        if (chat_content.user_personal)
          li #{chat_content.user_personal.user_id} : #{chat_content.content}
        if (chat_content.user_business)
          li #{chat_content.user_business.user_id} : #{chat_content.content}

  //- pre= chat_contents

  form
    input(id="msg" type="text")
    button SEND

  script(src="/socket.io/socket.io.js")
  script.
    var user = '!{user._id}'
    var name = '!{user.user_id}'
    var room = '!{room}'
    var socket = io()

    document.querySelector('form').addEventListener('submit', function (e) {
      e.preventDefault()
      var msg = { user: user, name: name, message: document.getElementById('msg').value, room: room }
      socket.emit('chat-msg-1', msg)
      document.getElementById('msg').value = ''
      var xhttp = new XMLHttpRequest()
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          console.log(this.responseText)
        }
      }
      xhttp.open('POST', '/chatAjax', true)
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(`room=${msg.room}&chat_user=${msg.user}&chat_content=${msg.message}`)
    })
    socket.on('chat-msg-2', function (msg) {
      var newMessage = document.createElement('li')
      newMessage.innerHTML = msg.name + ' : ' + msg.message
      document.getElementById('messages').append(newMessage)
    })


