extends layout 

block content 
  h1= title

  ul#messages(style="background: whitesmoke; height: 250px")
    if (chat_contents)
      each chat_content in chat_contents 
        if (chat_content.user_personal)
          li #{chat_content.user_personal.user_id} : #{chat_content.content}
        if (chat_content.user_business)
          li #{chat_content.user_business.user_id} : #{chat_content.content}

  form#form
    input#input(type="text")
    button SEND

  p 
    a(href="#" onclick="outRoom()") Out 

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io()
    var user = '!{user._id}'
    var messages = document.getElementById('messages')
    var form = document.getElementById('form')
    var input = document.getElementById('input')
    var x = document.getElementById('x')

    socket.emit('join', room)

    function outRoom() {
      socket.emit('out', room)
      location.href = '/chat/list'
    }

    form.addEventListener('submit', function (e) {
      e.preventDefault()
      if (input.value) {
        var message = { user: user, content: input.value }
        socket.emit('chat message', room, message)
        input.value = ''
      }
    })

    socket.on('chat message', function (msg) {
      var item = document.createElement('li')
      item.textContent = msg.user + ' : ' + msg.content
      messages.appendChild(item)
    })




    
