extends layout 

block content 
  h1= title

  ul#messages
    each chat_content in chat_contents 
      if (chat_content.user_personal)
        li #{chat_content.user_personal.user_id} : #{chat_content.content}
      if (chat_content.user_business)
        li #{chat_content.user_business.user_id} : #{chat_content.content}

  //- pre= chat_contents

  form#form
    input(id="input" type="text")
    button SEND

  script(src="/socket.io/socket.io.js")
  script.
    var socket = io()
    var user = '!{user._id}'
    var name = '!{user.user_id}';
    var messages = document.getElementById('messages')
    var form = document.getElementById('form')
    var input = document.getElementById('input')


    form.addEventListener('submit', function (e) {
      e.preventDefault()
      if (input.value) {
        var data = { user: user, name: name, msg: input.value }

        socket.emit('chat-emit', data)
        input.value = ''
      }
    })

    socket.on('chat-on', function (data) {
      var item = document.createElement('li')
      item.textContent = data.name + ' : ' +  data.msg
      messages.appendChild(item)
    })



