extends layout 

block content 
  h1= title
  pre= blog

  div !{blog.content}

  a(href="/community/list") list 
  a(href="/community/create") create 
  a(href="/community/update/" + blog._id) update 
  a(href="/community/delete/" + blog._id) delete

  hr

  h3 create comment

  form(action="/community/comment/create", method="POST") 
    input(type="hidden", name="blog", value=blog._id)
    div.form-group
      label(for="") 
      textarea(name="content")
    button(type="submit") confirm 

  hr

  h3 comments

  each blog_comment in blog_comments 
    form(id="form-" + blog_comment._id) 
      input(type="hidden", name="id", value=blog_comment._id)
      textarea(id="item-" + blog_comment._id, name="content") #{blog_comment.content}
      if (user_global._id.toString()===blog_comment.user.toString())
        div
          button(onclick=`createBtn('${blog_comment._id}')`) update 
          button(onclick=`deleteBtn('${blog_comment._id}')`) delete
      p -
  

  script.
    async function createBtn(id) {
      document.getElementById('form-' + id).addEventListener('submit', function (e) {
        e.preventDefault()
      })

      var formData = new FormData(document.getElementById('form-' + id))
      var results = await fetch('/community/comment/update', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams(formData).toString()
      }).then(res => res.text())
    }

    async function deleteBtn(id) {
      document.getElementById('form-' + id).addEventListener('submit', function (e) {
        e.preventDefault()
      })
      
      var results = await fetch('/community/comment/delete', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: 'id=' + id
      }).then(res => res.text())

      document.getElementById('form-' + id).style.display = 'none'
    }