extends layout 
block header 
  include z_back_header.pug
block content 
  .container
    ul.received_detail_ul
      //- pre= estimate_response.estimate_request
      li.clearfix.sent_detail_first
        p #{estimate_response.estimate_request.user.city[0].name}, #{estimate_response.estimate_request.user.name}
        h2 #{estimate_response.estimate_request.topic.name}
        p 견적요청일자 : #{estimate_response.estimate_request.reg_date.getFullYear()}.#{estimate_response.estimate_request.reg_date.getMonth() +1}.#{estimate_response.estimate_request.reg_date.getDate()}. #{estimate_response.estimate_request.reg_date.getHours()}:#{estimate_response.estimate_request.reg_date.getMinutes()}
        
      
      -var x = 1
      while (x < 11)
        -var y = x++
        if (estimate_response.estimate_request[`field${y}`].length>0)
          li.clearfix
            h3.request_question_title #{estimate_response.estimate_request[`field${y}`][0].item.name}
              span.sound_only #{estimate_response.estimate_request[`field${y}`][0].item._id}
            div
              each checked_detail in estimate_response.estimate_request[`field${y}`]
                span= checked_detail.name 
                //- Custom text detail
                if (checked_detail.text_content)
                  span (#{checked_detail.text_content})
                  
      li.clearfix.received_detail_last
        h3 추가 요청사항
        p= estimate_response.estimate_request.content
    div.sent_detail_response_date.sent_detail_response_date01.clearfix
      p 견적서 작성일
      p #{estimate_response.reg_date.getFullYear()}.#{estimate_response.reg_date.getMonth() +1}.#{estimate_response.reg_date.getDate()}
    ul.sent_detail_bottom_stat.clearfix
      li
        each estimate_response_item in estimate_response.item
          if (estimate_response_item.length>0)
            p #{estimate_response_item}
      li
        each estimate_response_cost in estimate_response.cost
          if (estimate_response_cost.length>0)
            p 
              span.money_comma #{estimate_response_cost}
              | 원
      li
        each estimate_response_note in estimate_response.note
          if (estimate_response_note.length>0)
            p #{estimate_response_note}
    div.sent_detail_response_date.sent_detail_response_date02.clearfix
      p 견적가
      p
       span.money_comma #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}
       | 원

      //- hr
      //- pre= estimate_response
      //- pre= estimate_response.item
      //- pre= estimate_response.cost
      //- pre= estimate_response.note

    if (estimate_response.submit===false)
      form(action="", method="POST", enctype="multipart/form-data", onsubmit="return confirm('계약서를 전송하시겠습니까?')") 
        div.form-group
          label(for="") Choose contracts
          input(type="file", name="my_files", multiple="true", required="true")
        button(type="submit") 키고에 계약서 전송하기
    else 
      p.submit_btn 키고에 계약서를 전송하셨습니다.


  block scripts 
    script(src='/javascript/question_title.js')