extends layout 
block header 
  include z_back_header.pug
block content
  //- h1= title 

  //- if (topics)
  //-   ul 
  //-     each topic in topics 
  //-       li 
  //-         a(href="/estimate/request/form?topic=" + topic._id) #{topic.name} 
  
  //- if (estimate_items)
  //-   div.wrap
  //-       form.container(action="", method="POST") 
  //-         each estimate_item in estimate_items 
  //-           div.form-group
  //-             h3 #{estimate_item.name}
  //-             each detail in estimate_item.details
  //-               div
  //-                 label(for=detail._id) #{detail.name} 
  //-                 input(type=detail.input_type, id=detail._id, name=detail.input_name, value=detail._id)
  //-                 if (detail.name==='월')
  //-                   input(type="hidden", name='item', value=estimate_item._id)
  //-                   input(type="text", name="text", value="")
  //-           hr

  //-         div.form-group
  //-           h3 something to say 
  //-           textarea(name="content") 
          
  //-         //- 임시 버튼
  //-         button(type="submit") submit 

  //-   a.prev(href="") < | 
  //-   a.next(href="") > 


  .form_page_container
    h1.estimate_request_form_title= title 
    style.
      .form_container { white-space: nowrap; transition: .5s; }
      .form-group { width:100%; display: inline-block; vertical-align:top;}

    if (topics)
      ul.request_topics_wrap 
        each topic in topics 
          li 
            a(href="/estimate/request/form?topic=" + topic._id) #{topic.name}
    else 
      .demo_box.clearfix 
        .demobar_box
          #demo_bar
        h3#demo
    
    if (estimate_items)
      div.wrap
          form.form_container(action="", method="POST") 
            each estimate_item in estimate_items 
              div.form-group.estimate_form_group
                div.estimate_form_group_s_box.clearfix
                  h3.estimate_form_title #{estimate_item.name}
                  each detail in estimate_item.details
                    div.frm_request_ss(class=detail.input_name)
                      input(type=detail.input_type, id=detail._id, name=detail.input_name, value=detail._id)
                      label(for=detail._id) #{detail.name} 
                      //- Some text input
                      if (detail.text===true)
                        input(type="hidden", name='item', value=estimate_item._id)
                        input(type="hidden", name='detail', value=detail._id)
                        input.frm_input.toggle_input(type="text", name="text", value="", id='txt-' + detail._id)

                .request_slide_btn
                  a.prev(href="") 이전
                  a.next(href="") 다음

            div.form-group.estimate_form_group
              h3.request_comment 추가사항
              textarea.frm_input.full_input.request_commentbox(name="content") 
              .request_slide_btn
                a.prev(href="") 이전
                a.next(href="") 다음
              

            
            //- 임시 버튼
            //- button(type="submit") submit
    
  script.

    var container = document.querySelector('.form_container')
    var prev = document.querySelector('.prev')
    var next = document.querySelector('.next')
    var groups = document.querySelectorAll('.form-group')
    
    var x = document.createElement ('button')
    x.className = 'request_confirm'
    x.textContent = '견적 요청하기'
    groups[groups.length-1].appendChild(x)

    var num = 0
    var x = 100 / groups.length 
    
    document.getElementById('demo').textContent = Math.floor(x);
    prev.style.display = 'none'

    document.getElementById('demo_bar').style.width = Math.floor(- num / groups.length + x) + "%" ;
  block scripts 
    script(src='/javascript/request_slide.js')
    script(src='/javascript/request_txtinput.js')
