extends layout 
block header 
  include back_header.pug
block content 
  h1= title

  h2 ## #{estimate_request.topic.name}
  hr

  -var x = 1
  while (x < 11)
    -var y = x++
    if (estimate_request[`field${y}`].length>0)
      h3 # #{estimate_request[`field${y}`][0].item.name}
      each something in estimate_request[`field${y}`]
        p= something.name 
        if (estimate_request.estimate_text[0] && estimate_request.estimate_text[0].item.toString()===something.item._id.toString())
          p #{estimate_request.estimate_text[0].text}
      hr

  h3 # somethign to say 
  p= estimate_request.content

  hr
  //- pre= estimate_request


  h3.estimate_responses_title 제출된 견적서 목록
  each estimate_response in estimate_responses 
    ul.estimate_responses_wrap
      li
        a(href="/estimate/response/" + estimate_response._id)
          p.estimate_responses_username #{estimate_response.user.username}
          p.estimate_responses_price 견적금 : #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}원


