extends layout 

block content 
  h1= title

  pre= estimate_response

  form(action="/chat/create", method="POST") 
    input(type="text", name="member", value=estimate_response.user)
    button(type="submit") chat

  h3 Portfolio
  pre= portfolio

  h3 Business reviews

  form(action="", method="POST") 
    input(type="hidden", name="user_business", value=estimate_response.user)
    div.form-group
      label(for="") 
      textarea(name="content", cols="30", rows="10") 
    div.form-group
      input(type="radio", name="rating", value="1")
      label(for="") 1
      input(type="radio", name="rating", value="2")
      label(for="") 2
      input(type="radio", name="rating", value="3")
      label(for="") 3
      input(type="radio", name="rating", value="4")
      label(for="") 4
      input(type="radio", name="rating", value="5")
      label(for="") 5

    p 
      button(type="submit") confirm

  pre= business_reviews

  p 
    a(href="/estimate/request/" + estimate_response.estimate_request) list 