extends layout 
block header 
  include back_header.pug
block content 
  //- h1= title

  //- pre= estimate_request 
  //- hr

  //- ul
  //-   each estimate_request_goal in estimate_request.goal
  //-     li= estimate_request_goal.name



  //- ul
  //-   each estimate_response in estimate_responses 
  //-     li
  //-       a(href="/estimate/response/" + estimate_response._id) #{estimate_response.user.username}
  //-       |  #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}

    //- 상단 삭제 x ( 원본 )






    



        
    h3 견적 요청일자
    p 
    h3 광고방법
    p #{estimate_request.platform[0].name}
    h3 월간 작업(포스팅) 횟수
    p #{estimate_request.how_many[0].name}
    h3 광고 업종(상품)
    p
      span #{estimate_request.business[0].name}
      //- span #{estimate_request.business[1].name}
      //- span #{estimate_request.business[2].name}
      //- span #{estimate_request.business[3].name}
      //- span #{estimate_request.business[4].name}
      //- span #{estimate_request.business[5].name}
      //- span #{estimate_request.business[6].name}
      //- span #{estimate_request.business[7].name}
      //- span #{estimate_request.business[8].name}
      //- span #{estimate_request.business[9].name}
      //- span #{estimate_request.business[10].name}
      //- span #{estimate_request.business[11].name}
      //- span #{estimate_request.business[12].name}
      //- span #{estimate_request.business[13].name}
      //- span #{estimate_request.business[14].name}
      //- span #{estimate_request.business[15].name}
      //- span #{estimate_request.business[16].name}
      //- span #{estimate_request.business[17].name}
      //- span #{estimate_request.business[18].name}
      //- span #{estimate_request.business[19].name}
      //- span #{estimate_request.business[20].name}
      //- span #{estimate_request.business[21].name}
    h3 광고 목적
    p 
      span #{estimate_request.goal[0].name}
      //- span #{estimate_request.goal[1].name}
      //- span #{estimate_request.goal[2].name}
      //- span #{estimate_request.goal[3].name}
      //- span #{estimate_request.goal[4].name}
      //- span #{estimate_request.goal[5].name}
      //- span #{estimate_request.goal[6].name}
    h3 광고 시작 날짜
    p 
      span #{estimate_request.start_day[0].name}
    h3 광고 집행 기간
    p 
      span #{estimate_request.how_long[0].name}
    h3 예상 금액
    p 
      span #{estimate_request.cost[0].name}
    h3 계신 지역
    p 
      span #{estimate_request.city[0].name}
      //- span #{estimate_request.city[1].name}
      //- span #{estimate_request.city[2].name}
      //- span #{estimate_request.city[3].name}
      //- span #{estimate_request.city[4].name}
      //- span #{estimate_request.city[5].name}
      //- span #{estimate_request.city[6].name}
      //- span #{estimate_request.city[7].name}
      //- span #{estimate_request.city[8].name}
      //- span #{estimate_request.city[9].name}
      //- span #{estimate_request.city[10].name}
      //- span #{estimate_request.city[11].name}
      //- span #{estimate_request.city[12].name}
      //- span #{estimate_request.city[13].name}
      //- span #{estimate_request.city[14].name}
      //- span #{estimate_request.city[15].name}
    h3 피드백 서비스
    p 
      span #{estimate_request.feedback[0].name}
      //- span #{estimate_request.feedback[1].name}
      //- span #{estimate_request.feedback[2].name}

    array 호출방법
        





    pre= estimate_responses


  .container
    .estimate_request_detail_box 
      //- p.estimate_request_detail_1st_txt
      //-   span 지역, 
      //-   span 이름
      p.estimate_request_detail_2st_txt #{estimate_request.platform[0].name}
      p.estimate_request_detail_3st_txt 
        span 견적 요청일자 :
        |  #{estimate_request.reg_date.getFullYear()}년 #{estimate_request.reg_date.getMonth() + 1}월 #{estimate_request.reg_date.getDate()}일
      .estimate_request_detail_stat_wrap
        .estimate_request_detail_stat 
          h3 월간 작업(포스팅) 횟수
          p #{estimate_request.how_many[0].name}
        .estimate_request_detail_stat 
          h3 광고 업종(상품)
          p 
            each estimate_request_business in estimate_request.business
              span.estimate_request_checked= estimate_request_business.name
        .estimate_request_detail_stat 
          h3 광고 목적
          p 
            each estimate_request_goal in estimate_request.goal
              span.estimate_request_checked= estimate_request_goal.name
        .estimate_request_detail_stat 
          h3 광고 시작 날짜
          p #{estimate_request.start_day[0].name}
        .estimate_request_detail_stat 
          h3 광고 집행 기간
          p #{estimate_request.how_long[0].name}
        .estimate_request_detail_stat 
          h3 예상 금액
          p #{estimate_request.cost[0].name}
        .estimate_request_detail_stat 
          h3 계신 지역
          p 
            each estimate_request_city in estimate_request.city
              span.estimate_request_checked= estimate_request_city.name
        .estimate_request_detail_stat 
          h3 피드백 서비스
          p 
            each estimate_request_feedback in estimate_request.feedback
              span.estimate_request_checked= estimate_request_feedback.name

    h3.estimate_responses_title 제출된 견적서 목록
    each estimate_response in estimate_responses 
      ul.estimate_responses_wrap
        li
          a(href="/estimate/response/" + estimate_response._id)
            p.estimate_responses_username #{estimate_response.user.username}
            p.estimate_responses_price 견적금 : #{estimate_response.cost.reduce(function (sum, value) { return sum + Number(value) }, 0)}원

  
