extends layout 
block header 
  include z_back_header.pug
block content 
  //- h1= title

  .container
    ul.estimate_request_list_wrap.clearfix
      each estimate_request in estimate_requests

        a(href=estimate_request._id)
          .estimate_request_list_con_box.clearfix
            li
              p.esti_title #{estimate_request.topic.name} 
              //- p.esti_date 견적요청일자 : #{estimate_request.reg_date.toLocaleString()}
              p.esti_date 견적요청일자 : #{estimate_request.reg_date.getFullYear()}.#{estimate_request.reg_date.getMonth() + 1}.#{estimate_request.reg_date.getDate()}. #{estimate_request.reg_date.getHours()}:#{estimate_request.reg_date.getMinutes()}

              //- div #{estimate_request.reg_date.getFullYear()}년
              //- div #{estimate_request.reg_date.getMonth() + 1}월
              //- div #{estimate_request.reg_date.getDate()}일
            li
              if (estimate_request.count < 10)
                span  견적요청중
              else 
                span  견적요청완료
            li
              p
                | #{estimate_request.count}
    .estimate_received_list_subtxt 
      p ※ 견적요청중 : 견적요청을 한 고객이 광고업체, 인플루언서로부터 견적서를 받아보고 있는 경우
      p ※ 견적요청완료 : 견적요청을 한 고객이 광고업체, 인플루언서로부터 견적서 10개를 받은 경우<br>(고객은 견적서를 10개까지 받아볼 수 있음)
  

    
